html, body {
    background: #293039;
    color: #b4bfc3;
}

.errorlist > li {
    color: red;
}

.messages{
    margin-bottom: 20px;
}

a{
    color: #4183c4;
}

.ui.inverted.items a:hover{
    color: #6d97c4;
}

.ui.inverted.items > .item > .content > .header {
    color: rgba(255, 255, 255, .9);
}

.ui.inverted.items > .item .meta {
    color: rgba(255, 255, 255, .8);
}

.ui.inverted.items > .item .extra {
    color: rgba(255, 255, 255, .8);
}

.ui.inverted.items > .item .description {
    color: rgba(255, 255, 255, .8);
}

.ui.dark.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0px;
  background: #1b1c1d;
  padding: 0em;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #1b1c1d, 0px 0px 0px 1px #1b1c1d;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.ui.dark.card {
  background: #1b1c1d;
}

.ui.dark.cards > .dark.card > .content > a.header, .ui.dark.card > .content > a.header {
  color: rgb(196, 196, 196);
}

.ui.cards > .card .meta, .ui.card .meta {
  font-size: 1em;
  color: #7a7a83;
}

.ui.dark.cards > .dark.card > .content > .header, .ui.dark.card > .content > .header {
  color: white;
}

.ui.dark.cards > .dark.card > .content > .description, .ui.dark.card > .content > .description {
  clear: both;
  color: white;
}

.ui.dark.cards > .dark.card > .content > a.header:hover, .ui.dark.card > .content > a.header:hover {
  color: rgb(238, 238, 238);
}

.ui.dark.cards > .dark.card > .extra,
.ui.dark.card > .extra {
  border-top: 1px solid #dedede !important;
  color: inherit;
}

a.ui{
    text-decoration: underline;
}

.game-content img{
    max-width: 100%;
}

.game-content p{
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.game .ui.list .item{
    font-size: 13px;
    color: rgb(88, 145, 187);
}