html, body {
    background: #293039;
    color: #b4bfc3;
}

.errorlist > li {
    color: red;
}

.messages {
    margin-bottom: 20px;
}

a {
    color: #4183c4;
}

.ui.inverted.items a:hover {
    color: #6d97c4;
}

.ui.inverted.items > .item > .content > .header {
    color: rgba(255, 255, 255, .9);
}

.ui.inverted.items > .item .meta {
    color: rgba(255, 255, 255, .8);
}

.ui.inverted.items > .item .extra {
    color: rgba(255, 255, 255, .8);
}

.ui.inverted.items > .item .description {
    color: rgba(255, 255, 255, .8);
}

.ui.dark.card {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    min-height: 0px;
    background: #1b1c1d;
    padding: 0em;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 1px 3px 0px #1b1c1d, 0px 0px 0px 1px #1b1c1d;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.ui.dark.card {
    background: #1b1c1d;
}

.ui.dark.cards > .dark.card > .content > a.header, .ui.dark.card > .content > a.header {
    color: rgb(196, 196, 196);
}

.ui.cards > .card .meta, .ui.card .meta {
    font-size: 1em;
    color: #7a7a83;
}

.ui.dark.cards > .dark.card > .content > .header, .ui.dark.card > .content > .header {
    color: white;
}

.ui.dark.cards > .dark.card > .content > .description, .ui.dark.card > .content > .description {
    clear: both;
    color: white;
}

.ui.dark.cards > .dark.card > .content > a.header:hover, .ui.dark.card > .content > a.header:hover {
    color: rgb(238, 238, 238);
}

.ui.dark.cards > .dark.card > .extra,
.ui.dark.card > .extra {
    border-top: 1px solid #dedede !important;
    color: inherit;
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(108, 125, 165, 0.2);
}

.ui.inline {
    display: inline;
}

.ui.inverted.link.list span.item {
    color: rgb(238, 238, 238);
}

.ui.inverted.link.list span.active.item {
    color: rgb(183, 164, 241);
}

a.ui {
    text-decoration: underline;
}

.game-content img {
    max-width: 100%;
}

.game-content p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.game .ui.list .item {
    font-size: 13px;
    color: rgb(88, 145, 187);
}

.game-answers {
    margin-top: 50px;
}

.game-answers form.ui{
    max-width: 200px;
}

.ui.list .ui.red.item {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.ui.list .ui.green.item {
    color: rgb(0, 189, 0);
    font-size: 13px;
    font-weight: bold;
}

.ui.inverted.steps .step{
    background: #313131;
    border-right: 1px solid rgba(222, 222, 222, 0.15);
    padding: 9px 16px;
}

.ui.inverted.steps .step a:hover{
    text-decoration: underline;
}

.ui.inverted.steps .step.active{
    background: #0f4873;
}

.ui.inverted.steps .step.active:after{
    background: #0f4873;
}

.ui.inverted.steps .step.disabled{
    background: #1f1f1f;
}

.ui.inverted.steps .step.disabled:after{
    background: #1f1f1f;
}

.ui.inverted.steps .step:after{
    background: #313131;
    border-color: rgba(222, 222, 222, 0.15);
}

.ui.inverted.steps .step .content .title, .ui.inverted.steps .step .content .description{
    color: #b4bfc3;
}

.ui.inverted.steps .step.disabled .content .title, .ui.inverted.steps .step.disabled .content .description{
    color: #505050;
}

.ui.table.game-stats td, .ui.table.game-stats th{
    font-size: 11px;
    line-height: 1.3em;
}