{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Quest Labs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0;">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'semantic/semantic.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/hotstart.js' %}" type="application/javascript"></script>
    <link href="{% static 'semantic/semantic.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/hotstart.css' %}" rel="stylesheet" type="text/css">
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
</head>
<body>
<div class="ui container">
    {% block content %}

    {% endblock %}
</div>
<footer style="height: 30px;"></footer>
</body>
</html>