{% load my_filters staticfiles %}
<div class="ui fluid dark card">
    <div class="image" style="max-width: 150px;">
        <img src="{{ user.email|gravatar }}">
    </div>
    <div class="content">
        <a class="header">{{ user.username }}</a>
        <div class="meta">
            <span class="date">{{ user.get_full_name }}</span>
        </div>
        <div class="description">
            <hr>
            <div class="ui inverted link list">
                <a class="item" href="{% url 'profile' %}">Мое личное дело</a>
                <a class="item" href="{% url 'my_team' %}">Моя команда</a>
            </div>
            <hr>
            <div class="ui inverted link list">
                <a class="item" href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    </div>
</div>

<div class="ui fluid dark card">
    <div class="content">
        <a class="header">Прошедшие игры</a>
        <div class="description">
            <hr>
            {% for game in finished_games %}
                <img style="max-width: 24px; float: left; margin-right: 10px;" src="{% static 'img/labyrinth.png' %}">
                <a href="#" class="ui blue header">(#{{ game.id }}) "{{ game.title }}"</a>
                <div style="clear: both;"></div>

                <div class="ui list">
                    <div class="item"><b>Начало игры:</b> {{ game.starts_at|date:"d.m.Y H:i" }}</div>
                    <div class="item"><b>Приняли участие:</b> {{ game.teams.count }} команд</div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>