{% load staticfiles my_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Quest Labs</title>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'semantic/semantic.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/hotstart.js' %}" type="application/javascript"></script>
    <link href="{% static 'semantic/semantic.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/hotstart.css' %}" rel="stylesheet" type="text/css">
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
</head>
<body>
<div class="ui container">
    {% block navbar %}
        {% show_navbar 'home' user %}
    {% endblock %}
    {% show_messages messages %}

    <div class="ui stackable grid">
        <div class="four wide column">
            {% insert_side_menu user %}
        </div>
        <div class="twelve wide column">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
<footer style="height: 30px;"></footer>
</body>
</html>