{% extends 'base_with_left_menu.html' %}
{% load my_filters i18n staticfiles %}

{% block navbar %}
    {% show_navbar 'games' user %}
{% endblock %}


{% block content %}
    {% if my_draft_games.count > 0 %}
        <h1 class="ui ">Мои черновые игры</h1>
        {% for game in my_draft_games %}
            {% insert_game game request True %}
        {% endfor %}
    {% endif %}
    {% if games_in_progress.count > 0 %}
        <h1 class="ui ">Активные игры</h1>
        {% for game in games_in_progress %}
            {% insert_game game request True %}
        {% endfor %}
    {% endif %}

    {% if just_finished_games.count > 0 %}
        <h1 class="ui ">Недавние игры</h1>
        {% for game in just_finished_games %}
            {% insert_game game request True %}
        {% endfor %}
    {% endif %}

    {% if games_in_future.count > 0 %}
        <h1 class="ui ">Предстоящие игры</h1>
        {% for game in games_in_future %}
            {% insert_game game request True %}
        {% endfor %}
    {% endif %}
{% endblock %}