{% extends 'games/base_for_play.html' %}
{% load my_filters i18n staticfiles %}

{% block content %}
    <div class="ui inverted segment game">
        <img style="max-width: 24px; float: left; margin-right: 10px;" src="{% static 'img/labyrinth.png' %}">
        <a href="{% url 'game_info' game.id %}" class="ui blue header">(#{{ game.id }}) "{{ game.title }}"</a>
        <div style="clear: both;"></div>
        {% if game.author == user %}
            <div id="levels_pad" style="overflow-x: auto; padding-right: 20px;" >
                <hr>
                {% insert_game_levels game level my_team True %}
            </div>
        {% else %}
            <div id="levels_pad" style="overflow-x: auto; padding-right: 20px;display: none;" >
                <hr>
                {% insert_game_levels game level my_team%}
            </div>
        {% endif %}
    </div>
    <div class="ui inverted segment game">
        <button onclick="$('#levels_pad').toggle();"
                class="ui basic purple labeled mini icon button">
            <i class="flag checkered icon"></i> Уровни
        </button>
        <a target="_blank" href="{% url 'game_stats' game.id %}" style="display: inline-flex" class="ui basic pink labeled mini icon button">
            <i class="chart bar icon"></i> Статистика
        </a>
    </div>
    <div class="ui inverted segment game">
        <span class="ui blue header">Уровень №{{ level.order }}: {{ level.title }}</span>
        <div style="clear: both;"></div>
        <hr>
        <div class="ui list">
            <div class="item"><b>Автопереход через:</b> {{ level.auto_close_time }} мин.</div>
        </div>
        <hr>
        <div class="game-content">
            {{ level.content|safe }}
        </div>
        <div class="game-answers">
            <form method="post" class="ui small dark form">
                {% csrf_token %}
                <p>
                    <input name="answer" type="text" class="ui inverted input" placeholder="Введите ответ">
                </p>
                <button class="ui mini basic yellow button">Отправить</button>

            </form>
        </div>
    </div>
{% endblock %}