{% extends 'games/base_for_play.html' %}
{% load my_filters i18n staticfiles %}

{% block content %}
    <div class="ui inverted segment game">
        <img style="max-width: 24px; float: left; margin-right: 10px;" src="{% static 'img/labyrinth.png' %}">
        <a href="{% url 'game_info' game.id %}" class="ui blue header">(#{{ game.id }}) "{{ game.title }}"</a>
        <div style="clear: both;"></div>
        {% if game.author == user %}
            <div id="levels_pad" style="overflow-x: auto; padding-right: 20px;">
                <hr>
                {% insert_game_levels game level my_team True %}
            </div>
        {% endif %}
    </div>
    {% if game.status == "not_started" %}
        <script>
            var readyToCheckStatus = true;

            function checkGameStatus() {
                readyToCheckStatus = false;
                $.get("{% url 'game_status' game.id %}", [], function (response) {
                    if (response === "started") {
                        window.location.reload();
                    } else {
                        readyToCheckStatus = true;
                    }
                })
            }

            $(document).ready(function () {
                var starts_in = {{ game.starts_in }};
                setInterval(function () {
                    starts_in -= 1;
                    if (starts_in >= 0) {
                        $("#seconds_left").text(starts_in);
                    } else {
                        $("#seconds_left").text("Совсем немного");
                    }
                    if (starts_in < 1 && readyToCheckStatus) {
                        checkGameStatus();
                    }
                }, 1000)
            })
        </script>
    {% endif %}

    {% if game.status == "not_started" %}
        <div class="ui inverted segment">
            <div class="ui inline red inverted statistic">
                <div class="label">
                    До начала игры осталось
                </div>
                <div id="seconds_left" class="value">
                    {{ game.starts_in }}
                </div>
                <div class="label">
                    Секунд
                </div>
            </div>
        </div>
    {% elif game.status == "finished" or game.status == "scoring" %}
        <div class="ui inverted segment">
            <div class="ui inline red inverted statistic">
                <div class="label">
                    Игра
                </div>
                <div id="seconds_left" class="value">
                    Закончена
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}