{% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="ui inverted teal message">{{ message }}</div>
            {% elif message.tags == "error" %}
                <div class="ui inverted red message">{{ message }}</div>
            {% elif message.tags == "warning" %}
                <div class="ui inverted orange message">{{ message }}</div>
            {% elif message.tags == "info" %}
                <div class="ui inverted blue message">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}