{% load i18n my_filters %}

<header class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="item {% if section == 'home' %}active{% endif %}" href="/">
            {% trans 'Quest Labs' %}
        </a>
        <a class="item {% if section == 'games' %}active{% endif %}" href="{% url 'games' %}">
            {% trans 'Игры' %}
        </a>
        <div class="right menu">

            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="ui black image label item">
                    <img src="{{ user.email|gravatar }}">
                    &nbsp;&nbsp;&nbsp;{{ user.username }}
                </a>
                <a class="item"
                   href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="item"
                   href="{% url 'my_login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
</header>